/* _hero-section.scss */

@use 'sass:color';
@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.hero-container {
  padding: 128px 16px 64px;
  background-color: var(--background);
  position: relative;
  z-index: 1;
  height: calc(100vh - 64px); /* Altura total menos la altura del Navbar */
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.hero-title {
  font-family: $fuente-landing;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-titulos);
  margin-bottom: 16px;
  line-height: 1.2; /* Ajusta el espaciado entre líneas */
  text-align: left;

  .animated-text {
    display: inline-block;
  }

  .gymbulls-text {
    display: block; /* Coloca "GYM BULLS" en una nueva línea */
    color: $color-rojo-vibrante; /* Rojo vibrante */
    font-size: 3.5rem; /* Tamaño más grande para destacar */
    margin-top: 8px; /* Espaciado desde la línea anterior */
  }

  @include media-query(small) {
    font-size: 2rem;

    .gymbulls-text {
      font-size: 2.5rem; /* Tamaño reducido para pantallas pequeñas */
    }
  }
}

.hero-subtitle {
  font-family: $fuente-principal;
  font-size: 1.25rem;
  color: var(--color-texto);
  line-height: 1.6;
  margin-bottom: 32px;

  @include media-query(small) {
    font-size: 1rem;
  }
}

.hero-button-wrapper {
  display: flex;
  justify-content: flex-start;
  z-index: 2;

  .cta-button {
    padding: 12px 24px; /* Reducido el tamaño */
    font-family: $fuente-titulo;
    font-size: 1rem; /* Tamaño reducido */
    font-weight: bold;
    color: var(--color-texto-botones);
    background-color: var(--color-botones);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
      background-color: color.adjust($color-rojo-botones, $lightness: -10%);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.social-icons {
  display: flex;
  gap: 16px; /* Espacio entre los íconos */
  margin-top: 16px; /* Espaciado desde el botón */
}

.social-icon {
  font-size: 1.5rem; /* Tamaño de los íconos */
  color: var(--color-texto); /* Color inicial */
  transition: color 0.3s ease;
}

/* Estilos específicos para Twitter */
.social-icon-twitter {
  &:hover {
    color: #ffffff !important; /* Blanco */
  }
}

/* Estilos específicos para Facebook */
.social-icon-facebook {
  &:hover {
    color: #1877f2 !important; /* Azul de Facebook */
  }
}

/* Estilos específicos para Instagram */
.social-icon-instagram {
  &:hover {
    color: #e1306c !important; /* Rosa de Instagram */
  }
}

.hero-carousel {
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 700px;
  max-width: 100%;

  @include media-query(small) {
    width: 100%;
  }
}

@include media-query(small) {
  .hero-container {
    padding: 96px 16px 32px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-button-wrapper {
    justify-content: center;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
