/* _dashboard-layout.scss */
@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as mixins;

.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-texto-principal;

  /* --- Navbar --- */
  .navbar-dashboard {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: var(--color-fondo-navbar);
    box-shadow: $sombra-suave;
  }

  /* --- Contenedor Principal --- */
  .dashboard-container {
    display: flex;
    flex: 1;
    position: relative; // Asegura que el contenido principal esté posicionado correctamente
  }

  /* --- Sidebar --- */
  .dashboard-sidebar {
    width: 250px; // Ancho por defecto
    transition: width 0.3s ease, transform 0.3s ease;
    z-index: 999;

    &.collapsed {
      width: 70px; // Ancho reducido en modo contraído
    }
  }

  /* --- Contenido Principal --- */
   .dashboard-main {
  flex: 1;
  padding: $espaciado-grande;
  margin-top: 64px; // Margen superior para el navbar
  transition: margin-left 0.3s ease;
  overflow-y: auto;
  z-index: 1; // Asegura que el contenido principal esté detrás del navbar y sidebar

  &.sidebar-collapsed {
    margin-left: 70px; // Ancho reducido cuando el sidebar está contraído
  }

  &.sidebar-expanded {
    margin-left: 320px; // Ancho normal cuando el sidebar está expandido
  }

  /* Ajuste para cuando el sidebar está completamente oculto */
  &.sidebar-hidden {
    margin-left: 0; // Ocupa todo el ancho si el sidebar está oculto
  }
  }
}
