/* _mixins.scss */

/* --- Mixin para centrar un elemento con flexbox --- */
@mixin centrar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Mixin para sombras --- */
@mixin sombra($intensidad: 0.1) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, $intensidad);
}

/* --- Mixin para media queries --- */
/* Mixin para consultas de medios responsivas */
@mixin media-query($size) {
  @if $size == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == medium {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 1264px) {
      @content;
    }
  }
}

/* --- Mixin para transiciones --- */
@mixin transición($propiedad, $duracion, $tipo-easing: ease) {
  transition: $propiedad $duracion $tipo-easing;
}
